.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 880px;
  padding-top: 40px;
  padding-bottom: 50px;
}

@media screen and (max-width: 580px) {
  .profile {
    padding: 42px 0 36px;
    flex-direction: column;
    gap: 32px;
  }
}

@media screen and (min-width: 581px) and (max-width: 880px) {
  .profile {
    margin: 0 19px;
  }
}
