.element__like-button {
  background-image: url(../../../images/like_disabled.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  cursor: pointer;
  padding: 0;
  border: none;
}

.element__like-button:hover {
  transition: opacity 0.2s linear;
  opacity: 0.6;
}
